<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/file-explore.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/file-explore.js"></script>
    <script>
    $(document).ready(function() {
                $(".file-tree").filetree();
    	        });
    </script>
  </body>
</html>
